.btn-set {
  $gap: 10px;
  $R: 12.5px;
  position: relative;
  height: $R;
  width: ($R + $gap) * 3;

  .btn-group {
    position: absolute;
    display: flex;
  }
  .btn {
    width: $R;
    height: $R;
    border-radius: 50%;
    margin-left: $gap;
    background-size: cover;
    background-color: #000;
  }
}