@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin square($L) {
  width: $L;
  height: $L;
}

@mixin reset {
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: normal;
}

@mixin cycle($R) {
  @include square($R);
  border-radius: $R;
}

@mixin hover-cursor($cursor) {
  @media (any-hover: hover) {
    &:hover {
      cursor: $cursor;
    }
  }
}

@mixin fill-up {
  width: 100%;
  height: 100%;
}

@mixin hide-scrollbar {
  // chrome edge safari
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
}